@import "grid-settings";
// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/neat/app/assets/stylesheets/_neat.scss";
// endbower

$border-color: lighten(gray, 15%);
$label-color: rgba(225, 50, 100, 1);

.df-builder {
    @include outer-container;
    border: 0.1em solid $border-color;
    display: flex;
    height: 25em;
    padding: 0.25em;
}

.df--faucet {
    @include span-columns(3);
    text-align: left;    
    position: relative;

    .hidden {
        opacity: 0;
        transition: 0.3s;
    }
    
    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        height: auto;
        transition: 0.3s;
    }

}

.df--select {
    @include span-columns(1);
    border: 0.1em solid $border-color;
    text-align: center;    
}

.df-builder--label {
    font-weight: 700;
    padding: 0.125em 0.5em;
    color: white;
    background: $label-color;
}


